<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> 7geese </title>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.css"
      rel="stylesheet">

</head>
<body>
  <div class="container">
    <h1> 7geese </h1>
    <hr />
    <div class = "wrapper"></div>
  </div>

  <script type="text/template" id="github-details">
  <table class="table striped">
    <thead>
      <tr>
        <th>Repo Name</th>
        <th>Language</th>
        <th>Fork Number</th>
        <th>Date Created</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(repo) { %>
        <tr><% console.log(repo) %>
          <td><%= repo.name  %></td>
          <td><%= repo.language %></td>
          <td><%= repo.forks_count %></td>
          <td><%= repo.created_at %></td>
        </tr>
      <% });%>
    </tbody>
    </table>
  </script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>


  <script>

    var template = _.template($('#github-details').html()); //returns a callable function

    var DataList = Backbone.View.extend({
      el: '.wrapper',
      render: function ()
      {
        console.log(arguments)
        var that = this;
        $.ajax({
          type: "GET",
          dataType: "jsonp",
          url: "https://api.github.com/users/7geese/repos",
          //because upon success, an anonymous function is called we create prior to the ajax call -> var that = this
          success: function(res)
          {
            function eachWord(str){
              var replacing = str.replace(/-/g, " ");
              var repoName = replacing.split(" ");
              var foobar = [];
              for (i = 0; i < repoName.length; i++){
                if ((repoName[i] == "on") || (repoName[i] == "as")) {
                  foobar.push(repoName[i]);
                }
                else { 
                  foobar.push(
                    repoName[i].replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();})
                  );
                }
              }
              return foobar.join().replace(/,/g, " ");
            }
           
            var sorted = _(res.data).sortBy("forks_count");
            that.$el.html(template({ data: sorted }));  
          }
        });
      }
    });

    var Router = Backbone.Router.extend({
      routes: {
        '': 'home' //how to run html file on localhost
      }
    });

    var dataList = new DataList();

    var router = new Router();

    router.on('route:home', function(){
      dataList.render();
    });

    Backbone.history.start();

  </script>
</body>

</html>